## Welcome

In [1]:
# comment will not be read by computer
# Used only for making code readable

"""

You can use 3 or triple speech marks"""

'\n\nYou can use 3 or triple speech marks'

In [2]:
"""
ENTER goes to new line

shift + ENTER to run code

Scissor (top left) will delete box of code

EDIT will give you the option to und deleting a cell

To add a cell below the one you're currently on press + button  (top left)

"""

"\nENTER goes to new line\n\nshift + ENTER to run code\n\nScissor (top left) will delete box of code\n\nEDIT will give you the option to und deleting a cell\n\nTo add a cell below the one you're currently on press + button  (top left)\n\n"

## Variables

In [3]:
# variables are like names/nouns
# you assign them with = sign
# you delete them with del

In [6]:
alpha
# currently variable alpha is unassigned so it will give error

NameError: name 'alpha' is not defined

In [7]:
alpha = 5

In [6]:
# now alpha is 5 so if we print alpha it will give 5
print(alpha)

5

In [8]:
# if we delete and then print alpha there will be an error

print(alpha, 'hello')

5 hello

In [8]:
# a variables value can be assigned to another variable
var1 = 2
var2 = 3
var3 = var1
print(var3)

2

In [9]:
# However it is important to remember that a string is different to a variable
var3 = "var1"
print(var3)

var1

In [10]:
# YOu can combine variables
var3 = var1 + var2
print(var3)

5

In [11]:
alpha = alpha +3
alpha %= 3
alpha = alpha *3

2
4
2
_________
4

In [11]:
bet = 'gg'
alpha ="helo 34"
bet+alpha

'gghelo 34'

In [17]:
liat_ = [3,5,6,4,5,7,7,2]
liat_[::-1]

[2, 7, 7, 5, 4, 6, 5, 3]

In [14]:
# to call a specific letter or section of a string use []
# In python the first letter will be the 0th
var1 =  "my name is: alex"
print(var1[3])
# In this context  colon : means 'from the start' or 'to the end'
print(var1[3:])  # from 4th position to the end
print(var1[:3])  # from start to 4th position (doesnt include 4th position)

n
name is: alex
my

In [15]:
# minus - means this many positions from the end
print(var1[-4:])     # Four positions from the end to the end
print(var1[-4:-1])   # Four positions from the end to one position from the end

alex
ale

In [16]:
# special case [::-1] means in reverse order
print(var1[::-1])

xela :si eman ym

In [17]:
# functions in python can act like verbs or adjectives
# and to use them either FUNCTION(PARAMETRES) or OBJECT.FUNCTION(PARAMETRES)
print("Hi")

# they can be used together

print(ord("h"))  # here ord converts 'h' into an int value, print then prints that out

# this is the same as doing them seperately

var5 = ord("h")
print(var5)

# you can print off multiple items in one line using commas

print("age: ",37," numbers ", [2,35,6,6], " library: ", {"alpha":1,"beta":2})

Hi
104
104
age:  37  numbers  [2, 35, 6, 6]  library:  {'alpha': 1, 'beta': 2}

In [19]:
liat_.extend([3,4])

In [20]:
liat_

[3, 5, 6, 4, 5, 7, 7, 2, 3, 4]

In [22]:
# LIST.sort() is a function that sorts ints and floats in lists
[3,2,1,4,"five"].sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [24]:
var5 = [3,2,1,4,5]
var5.sort(reverse=True)    # OBJECT.FUNCTION(PARAMETRES) 
print(var5)

[5, 4, 3, 2, 1]

In [20]:
# To look at functions for specific object OBJECT.(TAB)
# or type help(OBJECT), this will give ful in-depth guide
help(var5)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [21]:
# To look at parametres for specific function FUNCTION((SHIFT TAB))
var5 = [3,2,1,4,5]
var5.sort(reverse = True)    #Click shift tab within brackets and it will show you options and how to use them
print(var5)

[5, 4, 3, 2, 1]

In [22]:
# Also on SHift tabbing, the guide tells you that .sort is "in place", this means you don't need to assign it.
var5 = var5.sort() # and not checking the guide can cause problems
print(var5)

None

In [23]:
# STRING.format(PARAMETRES) is an important function as it allows you to combine variable in the middle of strings
var1 = "alex"; var2 = 20
print("Name is {name}, age is {age}".format(name=var1, age=var2))

Name is alex, age is 20

In [24]:
# from the last box you can see I combined separate lines with semi colon ;
# not particularly good idea for formatting or readability, but it shrinks the number of lines...
var1 = 20; var1 += 2
print(var1)

22

In [47]:
# a list is a linear array of objects
# It can be created with []
var2 = []
print("my empty list: {list}".format(list=var2)) 
var2.append([3,4])  # also in-place function
var2.extend([1,1])
print("my non-empty list: {list}".format(list=var2)) 
print("my empty list: ", var2)   # multiple ways to do things

my empty list: []
my non-empty list: [[3, 4], 1, 1]
my empty list:  [[3, 4], 1, 1]

In [82]:
# anything can go in list, a list can go in a list within a list within a list
# dictionary can, anything, though if you put a tuple in a list you can't remove objects from the tuple
list1 = [3, 5, 8, [2, "hi", {"alpha":1,"beta":2}], "hello"]
print(len(list1)) #this may look at first glance confusing but you can break it down
print("_____________")

for i, obj in enumerate(list1):        #we haven't looked at function enumerate but basically it 
    print("in position {pos}: we have {ob}".format(pos=i, ob=obj))

5
_____________
in position 0: we have 3
in position 1: we have 5
in position 2: we have 8
in position 3: we have [2, 'hi', {'alpha': 1, 'beta': 2}]
in position 4: we have hello

In [83]:
# YOu can call a list like a string
print(list1[:3])

inner_list = list1[3]
print(inner_list)
print(inner_list[1])           # same as list1[3][1]
print(inner_list[-1]['alpha']) # same as list1[3][-1]['alpha'] or inner_list[2]['alpha']

[3, 5, 8]
[2, 'hi', {'alpha': 1, 'beta': 2}]
hi
1

In [84]:
# you can assign and change specific sections
print(list1)
list1[0] = 3 * len(list1[3])
print(list1)

[3, 5, 8, [2, 'hi', {'alpha': 1, 'beta': 2}], 'hello']
[9, 5, 8, [2, 'hi', {'alpha': 1, 'beta': 2}], 'hello']

In [25]:
a = [3, 5, 8, [2, 'hi', {'alpha': 1, 'beta': 2}], 'hello']

In [30]:
dict_ = {'alpha':1, 'key':'3'}

In [31]:
dict_['key']

'3'

In [65]:
# multiple ways of deleting values
print(list1)
del list1[2]
print(list1)
list1.pop(2)
print(list1)

# When unsure how to do google search OR LIST.(TAB)

[3, 5, 8, [2, 'hi', {'alpha': 1, 'beta': 2}], 'hello']
[3, 5, [2, 'hi', {'alpha': 1, 'beta': 2}], 'hello']
[3, 5, 'hello']

## Dictionaries

In [50]:
# created with {}, it is made up of pairs (keyword, value)
# it is unordered so cannot call dict1[0]
dict1 = {'key1': 0,'key2': 1,'key3': 2,'key4': 3,'key5': 4}
dict1[0]

KeyError: 0

In [51]:
dict1.update({'key6': 5}) # instead of append
print(dict1.keys())

dict_keys(['key1', 'key2', 'key3', 'key4', 'key5', 'key6'])

In [54]:
print(dict1['key6'])
print(dict1.pop('key3'))
print(dict1.values())

5
2
dict_values([0, 1, 3, 4, 5])

## Tuples and sets

In [72]:
my_tuple = (1,2,3,4,5)
print(my_tuple)
# can't add or delete  (immutable)
print(my_tuple[3:]) # pretty boring, and we won't really use them

(1, 2, 3, 4, 5)
(4, 5)

In [90]:
set1 = {1, 2 , 2, 4,5,8, 3}
set2 = {3, 2, 3,77}
print("sets don't contain duplicates :",set1)
print("sets are not ordered :",set2)
set2[0]

sets don't contain duplicates : {1, 2, 3, 4, 5, 8}
sets are not ordered : {2, 3, 77}

TypeError: 'set' object is not subscriptable

In [93]:
print(set1.intersection(set2)) # items in both set 1 and set2, but not in only one
print(set2.union(set1)) # items in both, or just 1

{2, 3}
{1, 2, 3, 4, 5, 8, 77}

In [101]:
# converting list to set and back
list2 = ['hello',9,9,5,1,1,2,5,5,5,5,5,5,5,'hello']
print(list2)
print(set(list2))
print(list(set(list2).intersection(set1)))
# list1 into set intersects with set1 then back into list

['hello', 9, 9, 5, 1, 1, 2, 5, 5, 5, 5, 5, 5, 5, 'hello']
{1, 2, 5, 9, 'hello'}
[1, 2, 5]

## operators

"""

/ = divide 
* = multiply
// = divides and rounds down
+,- add, minus
** = power of         (if you do 0.5 that is square route)
% = remainder   (X % Y will be the remainder when you divide X by Y)

3+4*2  is equal to 11  (bidmas/bodmas/pemdsa)

> < more than, less than

True False         dont know how to explain these two
and or not

== is equal to (compares) 
!= is not equal to (compares)
+=, *=, -=, /=, %=      X += 1 is same as X = X+1

"""

In [109]:
x=7
print(3 > 7)
print(8 != x)
print(x != 8 and x==9)
print(x != 8 or x==9)

False
True
False
True

In [111]:
print(not (x != 8 or x==9))  # not takes next statement and switches it
print(not (x != 8 and x==9))

False
True

## Loops

In [34]:
X=3
# note one equal sign
if X == 5: # two equals sign since comparing
    print("yes") # note that after a colon you have to indent
else:
    print("wrong")

wrong

In [36]:
# FOR will iterate a statement a certain number of times 

for i in range(3):  # iterates 3 times, on first i=0,second i=1, third i=2
    print(i,": ")
print("___") # everything indented will be looped, everything outside wont be

0 :
1 :
2 :
___

In [121]:
x=0
for i in list1: # will iterate every item in i
    print(x,": ",i)
    x+=1

0 :  9
1 :  5
2 :  8
3 :  [2, 'hi', {'alpha': 1, 'beta': 2}]
4 :  hello
5 :  hello
6 :  9
7 :  9
8 :  5
9 :  hello
10 :  9
11 :  9
12 :  5

In [123]:
# WHILE takes a statement and after every iteration checks 

x=0
while x < 30:
    print(x)
    x += 5
print("over")

0
5
10
15
20
25
over

In [129]:
# to break out of a loop use BREAK
# you can combine loops

x=0
while x<30:
    if x<-50:
        break
    print(x)
    x-=5
print("over")

0
-5
-10
-15
-20
-25
-30
-35
-40
-45
-50
over

In [130]:
"""
TRY:
    CODE              if there is an error don't stop code 
EXCEPT:               instead run EXCEPT
    Code

"""


try:
    print(variable1)
except:
    print("variable 1 not working")

variable 1 not working

In [ ]:
def function_name(paramete):
    do something
    return object

## Functions

In [132]:
"""
def FUNC_NAME(PARAMETRES):
    SOMETHING
    return

"""




def odd_even(num):
    if num % 2 == 0:
        return "even"   # you can return an item
    else:
        print("odd")     # or you can print and then simply return
        return
    
# to call:   FUNC_NAME(PARAMETRES)

odd_even(3) # this will print
var1 = odd_even(10068) # this will assign
print(var1)

odd
even

In [136]:
# variable inside a fucntion are not remembered if you do not return them

def arbitrary():
    arb1 =3
    arb2 =4
    return arb2


arb2 = arbitrary()
print(arb2)
print(arb1)

4

NameError: name 'arb1' is not defined

In [ ]:
for i in [0,1,2]:
    print(i)

## Basic functions

In [ ]:
# print()
# range()
# split()

#### 1) Mina has been told by John that to learn welsh you have to speak backwards. Can you build a function that translates a sentance into welsh.

#### 2) Bram tells her that she is being stupid that the order of the words should not change.

#### 3) Quincey being a good guy tells her that they're both wrong. That she simply has to scale the language by one to the right a->b, b->c, z->a
#### hint( mess around with ord() and chr)

#### 4) Quincey also tells her that all languages can be translated this way. Create a function where you input string and how many characters to slide

## answers

In [ ]:
# 1
def john_welsh(sentence):
    return sentence[::-1]

In [ ]:
# 2
def stoker(sentence):
    input_ = sentence.split()
    for i in range(len(input_)):
        input_[i] = input_[i][::-1]
    return input_

In [178]:
# 3
def lucy(sentence):
    input_ = sentence.lower().split()   # other ways to do multiple functions
    for i in range(len(input_)):
        output=""
        for a in range(len(input_[i])):
            temp_letter = ord(input_[i][a]) + 1
            if temp_letter == 123: 
                temp_letter = temp_letter - 26
            output += chr(temp_letter)
        input_[i] = output
    output = " ".join(input_)
    return output

In [179]:
# 4
def dracula(sentence, shifts):
    input_ = sentence.lower().split()   # other ways to do multiple functions
    for i in range(len(input_)):
        output=""
        for a in range(len(input_[i])):
            temp_letter = ord(input_[i][a]) + shifts
            if temp_letter > 122: 
                temp_letter = temp_letter - 26
            output += chr(temp_letter)
        input_[i] = output
    output = " ".join(input_)
    return output

In [180]:
dracula("my name is alex", 4)

'nz obnf jt bmfy'